@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dotted magenta; */
}

body {
  background: #3d3636;
  font-family: Montserrat, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.section {
  background: #161616;
  color: #e9e9e9;
  max-width: 400px;
  margin: 1.5rem;
  padding: 1.5rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #153a33;
  border-radius: 16px;
  filter: drop-shadow(2px 2px 4px rgba(22, 22, 22, 0.5));
}

.title,
.subtitle {
  margin: 0.5rem;
}

.description {
  margin-top: 1rem;
}

.description li {
  margin: 1rem 0;
  list-style-position: inside;
}

.renderCount {
  margin-top: 1rem;
}

.button {
  cursor: pointer;
  background-color: #f2674b;
  color: #e9e9e9;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 1rem;
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 4px rgba(21, 58, 51, 0.5));
}

.button:hover {
  background-color: #f2ac4b;
  color: #161616;
}

hr {
  margin: 1rem 0;
  width: 100%;
  height: 2px;
  border-color: rgb(21, 58, 51);
}

.photoContainer {
  padding: 1rem;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  max-width: 250px;
  max-height: 300px;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 4px rgba(21, 58, 51, 0.5));
}

.codeBlock {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: left;
}

.inlineCode {
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

select {
  cursor: pointer;
  color: #e9e9e9;
  background-color: #161616;
  border: 2px solid #153a33;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 250px;
}

.cacheResults label {
  cursor: pointer;
}

.cacheResults input {
  cursor: pointer;
  margin-left: 1rem;
}
